/*استایل کلی*/
/*حتما برای حالت هایی که می خواهیم هدر دارای پوزیشن ثابت شود باید به تگ (بادی) یک (پدینگ) اضافه کنید*/
p {
    font-family: Roboto, Arial; 
    margin-top: 0; 
    margin-bottom: 0;
  }

/*می خواهیم کل موارد موجود در بادی این استایل را به خود بگیرند */
body {
  margin: 0; 
  padding-top: 80px; /*اضافه کردن پدینگ در اینجا باعث می شود هدر در بالاترین جای صفحه روی شکل ها نیافتد*/
  padding-left: 80px; /*اضافه کردن پدینگ در اینجا باعث می شود ساید بار سمت چپ روی تصاویر نیافتند*/
}